:root {
    /* colors */
    --global-color-alpha: #044061;
    --global-color-alpha-background: #04406190;

    /* fonts */
    --global-font-size: 100%;

    --nav-link-font-size: 20px;

    /* whitespace */
    --global-baseline: 8px;
    --global-whitespace: calc(var(--global-baseline) * 4);

    --global-whitespace-xs: calc(var(--global-baseline) * .5);
    --global-whitespace-sm: calc(var(--global-baseline) * 1);
    --global-whitespace-md: calc(var(--global-baseline) * 2);
    --global-whitespace-lg: calc(var(--global-baseline) * 3);
    --global-whitespace-xl: calc(var(--global-baseline) * 4);
    --global-whitespace-xxl: calc(var(--global-baseline) * 5);

    
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
    color: Black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('../data/background-min.jpg'); 
    background-size: 100% 100%;
    background-repeat:   no-repeat;           
    background-position: 0% 0%;
    /* background-color: var(--global-background-color); */

}

h1 {
    font-size: 30px;
}

/*------------------------------------*\
    OBJECTS
\*------------------------------------*/
.o-row {
    /* background-color: var(--global-color-alpha-background); */
    position: relative;
    /* padding: var(--global-whitespace-lg)0; */
}

.o-list {
    list-style: none;
    padding: 0;
}

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/

.c-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.c-header {
    height: 100px;
    /* padding: var(--global-whitespace-lg) var(--global-whitespace-lg) 0; */
    padding: var(--global-whitespace-md)0;
    background-color: var(--global-color-alpha-background);
    height: px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.c-header__logo {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.c-header_nav {
    
    width: 40%;
}

.c-logo {
    height: 32px;
}

.c-nav {
    height: 100%;
    font-size: var(--global-font-size);
    line-height: var(--global-whitespace-lg);
}

.c-nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}

.c-nav-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 20%;
    /* display: block; */
}

.c-nav__link {
    font-size: var(--nav-link-font-size);
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.c-nav__link:visited {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.c-nav__line {
    height: 50px;
    border-radius: 2px;
    color: #FFF;
    border: 1px solid #FFFFFF;
    /* transition: flex-grow 0.8s var(--global-transition); */
    /* transition: opacity 0.2s var(--global-transition); */
}

/* BANNER */

.c-banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 480px;
    /* overflow: hidden; */
    /* background-color: rgb(129, 75, 75); */
}

.c-banner-img {
    overflow: hidden;
    height: 40%;
    width: auto;
}

/* MAIN */

.c-main-container {
    padding: var(--global-whitespace-xl) calc(var(--global-whitespace-xxl)*8);
    background-color: rgb(220, 226, 226);
}

.c-text-block {
    margin-bottom: 50px;
}

.c-text {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

/* FOOTER */

.c-footer {
    padding: var(--global-whitespace-xxl);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    height: 290px;
    /* width: 100%; */
}

.c-footer-image-left {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.c-footer-image-right {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.c-footer-image {
    height: 40%;
    width: auto;
}

.c-footer-image-krak {
    height: 70%;
    width: auto;
}