@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap');


:root {
    /* colors */
    --global-color-alpha: #044061;
    --global-color-alpha-background: #04406190;

    /* fonts */
    --global-font-size: 100%;

    --nav-link-font-size: 20px;

    /* whitespace */
    --global-baseline: 8px;
    --global-whitespace: calc(var(--global-baseline) * 4);

    --global-whitespace-xs: calc(var(--global-baseline) * .5);
    --global-whitespace-sm: calc(var(--global-baseline) * 1);
    --global-whitespace-md: calc(var(--global-baseline) * 2);
    --global-whitespace-lg: calc(var(--global-baseline) * 3);
    --global-whitespace-xl: calc(var(--global-baseline) * 4);
    --global-whitespace-xxl: calc(var(--global-baseline) * 5);


}


html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat';
    color: Black;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('../data/background-min.jpg'); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    /* background-color: var(--global-background-color); */

}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}

a {
    color: #4ea3f3;
}

/*------------------------------------*\
    OBJECTS
\*------------------------------------*/
.o-row {
    /* background-color: var(--global-color-alpha-background); */
    position: relative;
    /* padding: var(--global-whitespace-lg)0; */
}

.o-list {
    list-style: none;
    padding: 0;
}

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/

.c-button {
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    width: 20%;
    border-radius: 5px;
    background-color: #D6D040;
    margin: 32px;
    margin-top: 100px;
    color: #F2F5FF;
    /* line-height: calc(var(--global-baseline) * 3); */
    padding: 18px;

    /* outline: none; */
    box-shadow: var(--button-boxShadow, 0);
    transition: all 0.2s cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.c-button:hover {
    background-color: #d6d140ce;
}

.c-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.c-header {
    height: 100px;
    /* padding: var(--global-whitespace-lg) var(--global-whitespace-lg) 0; */
    padding: var(--global-whitespace-md)0;
    background-color: var(--global-color-alpha-background);
    height: px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.c-intro-li {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 500;
}

@media (max-width: 768px) {
    h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .c-intro-li {
        font-size: 14px;
        margin: 15px 0;
        font-weight: 500;
    }

    .c-header-container {
        display: none;
    }

    .c-button {
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        width: 30%;
        border-radius: 5px;
        background-color: #D6D040;
        margin: 10px;
        margin-top: 50px;
        color: #F2F5FF;
        /* line-height: calc(var(--global-baseline) * 3); */
        padding: 10px;
    
        /* outline: none; */
        box-shadow: var(--button-boxShadow, 0);
        transition: all 0.2s cubic-bezier(0.420, 0.000, 0.580, 1.000);
    }
}

.c-header__logo {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.c-header_nav {
    width: 50%;
}

.c-logo {
    margin: 20px;
    height: 32px;
}

.c-nav {
    height: 100%;
    font-size: var(--global-font-size);
    line-height: var(--global-whitespace-lg);
}

.c-nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.c-nav-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 40%;
    /* display: block; */
}



.c-nav__link {
    font-size: var(--nav-link-font-size);
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.c-nav__link:hover {
    font-weight: 700;
    transition: font-weight 0.2s cubic-bezier(0.420, 0.000, 0.580, 1.000)
}

.c-nav__link:visited {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.u-line-con {
    width: 10%;
}

.c-nav__line {
    height: 50px;
    border-radius: 2px;
    color: #FFF;
    border: 1px solid #FFFFFF;
    /* transition: flex-grow 0.8s var(--global-transition); */
    /* transition: opacity 0.2s var(--global-transition); */
}

/* BANNER */

.c-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 480px;
    /* overflow: hidden; */
    /* background-color: rgb(129, 75, 75); */
}

.c-banner-img {
    overflow: hidden;
    height: auto;
    width: 100%;
}

@media (max-width: 768px) {
    .c-banner-container {
        height: 200px;
        /* background-color: rgb(48, 33, 33); */
    }

 
}


.c-title-container {
    /* position: fixed;
    top: 0;
    right : 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
}

.c-title {
    font-weight: 700;
    font-size: 100px;
    color: #fff;
}



/* MAIN */

.c-main-container {
    position: relative;
    padding: var(--global-whitespace-xl) calc(var(--global-whitespace-xxl)*8);
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(220, 226, 226); */
}



@media (max-width: 1080px) {
    .c-main-container {
        padding: var(--global-whitespace-xl) calc(var(--global-whitespace-xxl)*2);
        /* background-color: rgb(220, 226, 226); */
    }
}

.c-text-block {
    margin: 0 var(--global-whitespace-xl);
    margin-bottom: 50px;
}


.c-text {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}


.c-mobile-nav-container {
    display: none;
}

.c-hamburger-container {
    display: none;
}

.c-parking-img {
    width: 90%;
    height: auto;
}

.c-time-li {
    font-weight: 600;
    font-size: 32px;
    margin: 2% 0;
}

.u-fs-sm {
    font-size: 24px;
}

.u-fw-sm {
    font-size: 26px;
    font-weight: 400;
    margin-right: 15px;
    color: #000;
}

@media (max-width: 768px) {

    .u-fw-sm {
        font-size: 16px;
        font-weight: 400;
        margin-right: 15px;
    }

    .c-text-block-li {
        margin-left: var(--global-whitespace-sm);
        margin-right: var(--global-whitespace-sm);
    }
    .u-fs-sm {
        font-size: 14px;
    }

    .c-time-li {
        font-size: 18px;
        margin: 2% 0;
    }
    .c-hamburger-container {
        left: 0;
        align-self: flex-start;
        position: fixed;
        padding: var(--global-whitespace-md);
        z-index: 12;
        display: block;
    }

    .c-title-container {
        height: 150px;
    }


    .c-main-container {
        position: relative;
        padding: 0;
        /* padding: var(--global-whitespace-md) var(--global-whitespace-xl); */
        /* background-color: rgb(220, 226, 226); */
    }

    .c-mobile-nav-container {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        height: 500px;
        display: none;
        right: 0;
        top: 150px;
        /* height: 80%; */
        /* z-index: 10; */
        /* width: 100vw; */
        /* height: 100%; */
        background-color: rgb(73, 130, 145);
        justify-content: center;
        align-items: center;
    }

    .c-mobile-nav-selected {
        display: flex;
        opacity: 1;
    }

    .c-nav-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .c-text {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 15px;
    }

    .c-title {
        font-size: 30px;
        color: #fff;
    }

    h1 {
        font-size: 20px;
    }

    .c-nav__line {
        height: 0;
        width: 150px;
        border-radius: 2px;
        color: #FFF;
        border: 1px solid #FFFFFF;
        /* transition: flex-grow 0.8s var(--global-transition); */
        /* transition: opacity 0.2s var(--global-transition); */
    }

    .c-nav-list__item {
        margin: 4% 10%;
        width: 100%;
    }

    .c-nav__link {
        font-size: calc(var(--nav-link-font-size)*1.1);
    }


    .c-main-text-container {
        margin: calc(var(--global-whitespace-xxl)*1.5) calc(var(--global-whitespace-xl)) 0;
    }

    .c-main-text-container-2 {

        margin: calc(var(--global-whitespace-xxl)*1.5) calc(var(--global-whitespace-xl)) 0;
    }

}

/* 
@media (max-width: 768px) { */
    .c-main-tab-container {
        margin-top: calc(var(--global-whitespace-xxl)*1.5);
        padding: 0;
        background: var(--global-color-alpha);
        color: #FFF;
        padding-bottom: var(--global-whitespace-xxl);
    }

   

    .c-tab-nav-container {
        width: 100%;
    }

    .c-tab-list {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .c-tab-list__item {
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        background-color: #FFF;
        color: var(--global-color-alpha);
    }

    .c-tab-info-container {
        padding: 0 var(--global-whitespace-xxl);
    }

    .c-tab-info-intro {
        font-weight: 400;
        font-size: 14px;
    }

    .c-scroll-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .c-scroll-link {
        color: #FFF;
        text-decoration: none;
        margin-left: var(--global-whitespace-sm);
    }

    .c-scroll-link:visited {
        text-decoration: none;
    }

    .c-tab-selected {
        background-color: var(--global-color-alpha);
        color: #FFF;
    }

    .c-scroll-item {
        margin: var(--global-whitespace-md) 0;
    }

    .c-scroll-topic {
        margin: var(--global-whitespace-xxl) 0;
    }

    .c-scroll-topic-title {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 25px;
    }

    .c-scroll-topic-info {
        font-weight: 400;
        font-size: 14px;
    }

    .c-scroll-topic-info-li{
        font-size: 14px; 
        margin-bottom: 10px;
    }



/* } */


/* FOOTER */

.c-footer {
    padding: var(--global-whitespace-xxl);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    height: 290px;
    /* background-color: rgb(117, 218, 201); */
    /* width: 100%; */
}

.c-footer-image-left {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.c-footer-image-right {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.c-footer-image {
    margin: 0 5%;
    height: 40%;
    width: auto;
}

.c-footer-image-krak {
    height: 80%;
    width: auto;
}


@media (max-width: 768px) {
    .c-footer {
        padding: var(--global-whitespace-lg);
        /* background-color: rgb(133, 190, 190); */
        height: 90px;
    }

    .c-footer-image {
        margin: 0 5%;
    }
}

.u-gold {
    color: #D6D040;
}

.u-height {
    height: 200px;
}